#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

.card {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 2em;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.card:hover {
  border-color: #646cff;
}

@media (min-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h2,
  h3 {
    font-size: 1.6rem;
  }

  h2,
  h3 {
    text-align: left;
  }

  .right-header {
    text-align: left;
    font-size: 1.3rem;
  }
}
